@use './variables' as *;

@mixin max-width-container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 24px;
}

@mixin card {
  background-color: $color-surface;
  border-radius: $radius-lg;
  box-shadow: $shadow-card;
}

@mixin outline-button($line-width, $border-color) {
  border: $line-width solid $border-color;

  &:hover {
    background-color: $btn-default-bg-hover;
  }

  &:active {
    background-color: $btn-default-bg-active;
  }

  &:disabled {
    background-color: $btn-default-bg-disabled;
    border-color: $btn-default-border-disabled;
  }
}
